body{
    
   
    background-color: #2c0101;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
        
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
     position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

    height: 100%;
}

.countStyle{
    color: #FF0000;
    font-size: 75px;
}

.btn{
    width: 150px;
    height: 75px;
    
    background-color: #FFF6CD;
    font-size: 50px;
    color: #FF0000;
    box-shadow:
    1px 1px 0 0 #fff,
    2px 2px 0 0 #fff,
    3px 3px 0 0 #fff,
    4px 4px 0 0 #fff,
    5px 5px 5px 0 #fff;
    

}
.btn :active{
    box-shadow: 1px 1px 5px 0 #000000;
  -webkit-box-shadow: 1px 1px 5px 0 #000000;    
  -moz-box-shadow: 1px 1px 5px 0 #000000;
  top: 7px;
  left: 7px;
}
.btn :hover{
     
    background-color: #000000;
    
}

.btn-left{
    margin-right: 15px;
}

.btn-right{
    margin-left: 15px;
}
.circleBtn{
    width: 50px;
    height: 50px;
    display:block;
    border-radius: 50%;
    background-color: #FF0000;
    border: #FF0000;
    margin-top: 30px;
    

}

.navbar{
    display: inline-flex;
    justify-content: center;
}

.title{
    font-size: 29px;
    color: white;
}

@media only screen and (max-width:600px){

    .btn-left{
        margin-right: 0px;
}

.btn-right{
    margin-left: 0px;    
}

.container{
    margin-top: 25px;
}

}